/**{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --color-title:#8D8F91;
    --transition: color 0.5s;
    --color-link:#515151;
}
.movie:nth-child(-n+3){
    margin-bottom:40px;
}
.movie{
    display:flex;
}
.movieDesc h2{
    margin:0;
}
.movieDesc{
    margin-left:20px;
}
.movieDesc p {
    font-size:19px;
    margin-top:25px;
    line-height: 28px;
}
.movie p{
    text-align: left;
}
nav p {
    margin-top:20px;
}
body{
    background-color:#EBEBEB;
    display:grid;
    text-align:center;
    grid-row-gap: 20px;
    padding: 30px 0px;
    grid-template-columns: 1fr 1fr 1fr;
}
header h1{
    margin:10px 0px;
    color:red;
}
header h2{
    margin-top:0px; 
    font-weight: 500;
}
header p{
    font-weight: lighter;
    font-size:20px;
}

header,article{
    color: var(--color-title);
}
.markup{
    background-color:#e1e1e1;
    color:var(--color-title);
}
nav li a,nav li p{
    color: #c1c1c1;
}
header,nav,article{
    background-color:#FFFFFF;
    grid-column-start: 2;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px grey;
}
header strong{
    font-weight:900;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding:0;
    margin:0;
    margin-top:20px;
}
ul p{
    font-size:20px;
}
header a{
    background-color:red;
    color:white;
    padding:10px;
    font-weight: bold;
    font-size:18px;
    text-decoration: none;
}
ul a{
    text-decoration:none;
    font-size:30px;
}
header img{
    border-radius: 50%;
    border:4px solid #CCCCCC;
    width:130px;
    height: 130px;
}
header{
    padding:30px;
}
header p{
    text-align: left;
}
nav{
    padding:40px;
}
article{
    padding:30px;
}
.movie img{
    width:120px;
    height: 180px;
}
article h3{
    margin-bottom:60px;
    font-size:25px;
}
nav a:hover{
    color:var(--color-link);
    transition: var(--transition);
}
nav a:hover + p{
    color:var(--color-link);
    transition: var(--transition);
}
header a:hover{
    animation: hoverAnim 2s linear;
}
@keyframes hoverAnim{
    0%{
        padding:10px;
        color:white;
    }
    50%{
        padding:20px;
        background-color: green;
        color:red;
    }100%{
        padding:10px;
        background-color: red;
        color:white;
    }
}*/