/* ==================================================
 * #STYLES  GENERAL
 * ==================================================
*/
*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  color: #000;
  background-color: #EBEBEB;
  margin: 0px;
  padding: 0px;
/*  font: 1.4rem Arial, Verdana, Helvetica, sans-serif;*/
  width: 100%;
}
main{
	
	width: 30%;
	margin-left: 40%;
}
div{
	background: #fff;
	margin: 2rem;

}
img{
  width: 100%;
}
p{
	text-align: justify;
	word-spacing: 2px;
}
ul, a{
  text-decoration: none;
  list-style-type: none;
  color: black; 
}
ul{
  padding: 0; 
  margin: 0 0 0 3rem;
}
h1{
  color: red;
}
.none{
  display: none;
}

/* ==================================================
 * #SECTION ABOUT
 * ==================================================
*/

.tim{
	width: 20%;
	border-radius: 40%;
}
#about{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}
#about p a{
	color: #fff;
	border: 1px solid red;
	background: red;
	border-radius: 0.2rem;
	padding: 0.5rem;
}
/* ==================================================
 * #social-network
 * ==================================================
*/

#social-network{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
#social-network > *{
	flex: calc(100% -2rem);
	 margin:0 2rem;
}

/* ==================================================
 * #SECTION FAV MOVIES
 * ==================================================
*/

tr{
	display: flex;
}
th{
	width: 100%;
}

td img{
	width: 5rem;
}

td h3, th h2{
	text-align: center;
}
tr th h2 span{
	background: grey;
}
